
.pseudo-search {
  display: inline;
  border: 2px solid #ccc;
  border-radius: 100px;
  padding: 10px 15px;
  transition: background-color 0.5 ease-in-out;

  input {
    border: 0;
    background-color: transparent;
    width: 200px;

    &:focus {
      outline: none;
    }
  }
  
  button, i {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  select {
    border: none;
  }
}